body{
  margin: 0;
  background-color:lightgray;
  
}

.hero-img{
    width:100%;
    border-radius:50px;
    border:20px solid lightblue;
}
h1{
    font-family:Orbitron;
    text-align:center;
    color:black;
    box-shadow: -36px -16px 46px 9px rgba(0,0,0,0.75);
-webkit-box-shadow: -36px -16px 46px 9px rgba(0,0,0,0.75);
-moz-box-shadow: -36px -16px 46px 9px rgba(0,0,0,0.75);
border-radius:15px;
    
}

.orbitron-<uniquifier> {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.menu-button{
    text-decoration:none;
    color:black;
    transition:all 0.5s ;
    padding:10px 20px;
    background-color:cyan;
    border-radius:20px;
    box-shadow: 2px -2px 17px 7px rgba(66,0,255,1);
-webkit-box-shadow: 2px -2px 17px 7px rgba(66,0,255,1);
-moz-box-shadow: 2px -2px 17px 7px rgba(66,0,255,1);
}
nav{
    display:flex;
    justify-content:space-around;
}
header,footer{
    background-color:black;
    padding:25px;
    border:5px solid gray;
    margin-bottom:15px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    
    
}
.menu-button:hover{
     background-color:lightblue;
    border-radius:50px;
    box-shadow: -36px -16px 46px 9px rgba(0,226,255,0.75);
-webkit-box-shadow: -36px -16px 46px 9px rgba(0,226,255,0.75);
-moz-box-shadow: -36px -16px 46px 9px rgba(0,226,255,0.75);}
.logo{
    width:50px;
    border-radius:50px;
}
p{
    font-family:Orbitron;
    color:white;
}
h1:hover{
    background-color:lightblue;
}
.Card{
    background-color:darkgrey;
    border-radius:50px;
    padding:25px;
    display:flex;
    flex-direction:column;
    align-items:center;
    max-width:450px;
}
img{
    border-radius:20px;
}
.Card2{
    display:flex;
    align-items:center;
}
.Card:hover{
    box-shadow: 2px -2px 17px 7px rgba(0,0,0,1);
-webkit-box-shadow: 2px -2px 17px 7px rgba(0,0,0,1);
-moz-box-shadow: 2px -2px 17px 7px rgba(0,0,0,1);
}
.GtagNews{
    border-radius:50px;
    display:flex;
    border:5px solid black;
}
.monkeyplushie{
    display:flex;
    flex-direction:column;
    align-items:center;
    border:20px solid black;
    
    
}
p{
    max-width:600px;
}
footer a{
    transition:all 0.5s ;
    padding:10px 20px;
    background-color:cyan;
    border-radius:20px;
    box-shadow: 2px -2px 17px 7px rgba(66,0,255,1);
-webkit-box-shadow: 2px -2px 17px 7px rgba(66,0,255,1);
-moz-box-shadow: 2px -2px 17px 7px rgba(66,0,255,1);
}
footer a:hover{
        background-color:lightblue;
    border-radius:50px;
    box-shadow: -36px -16px 46px 9px rgba(0,226,255,0.75);
-webkit-box-shadow: -36px -16px 46px 9px rgba(0,226,255,0.75);
-moz-box-shadow: -36px -16px 46px 9px rgba(0,226,255,0.75);}
}
    
